**/.venv/*
**/.env
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.sqlite3
*.db
.DS_Store
.idea/
.vscode/
*.bak
*.swp
*.swo
.envrc
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache/
*.coverage
*.mo
*.pot
*.po
*.orig
*.ipynb_checkpoints